{% extends 'base.html.twig' %}

{% block title %}Api Neuhof Futsal{% endblock %}

{% block body %}

    {% for actu in data %}
                    
        <h2>{{ actu.titre_actualite }}</h2>
        <p>{{ actu.texte_actualite }}</p>
                        
    {% endfor %}

{% endblock %}
