:root {

    --bg-color: rgb(0, 0, 0);
    --links: #FFFFFF;
    --linksHover: #ff0000;
    --div: rgba(0, 0, 0, 0.322);
    --text1 : #FFFFFF;
    --gifHomeIntro: url("/img/front/line.gif") ;
    --gifDiv: url("/img/front/redsmoke.gif") ;
    --gifText: url("/img/front/stade.gif") ;
    --gifTextPresentation : url("/img/front/circle.gif");
    --textShadow : rgb(255, 0, 0) 1px 0 10px;
    --gradientName : linear-gradient(90deg, #ffffff00, #ff0000, #ffffff00);
    --lastName : #ff0000;
    --boxShadow : 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    --subMenuBg : #ff000082;
    --iconFooter : #ffffff37;
    --shadowButton :0 0 5px #f40303cb,
                    0 0 25px #f40303b5,
                    0 0 50px #f40303a4,
                    0 0 100px #f40303d9;
    
  }

  body {

    background-color: var(--bg-color);
    transition: 0.5s ease-in-out;
  
  }




.indexActualite {

    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    background-color: #040404;
    background-image: var(--gifDiv);
    background-size: cover;
    font-family: 'Quantico', sans-serif;
    
  }
  
  
  .indexActualite h2 {
  
    text-shadow: var(--textShadow);
    font-size: 4em;
    margin-bottom: 2%;
    font-family: 'Quantico', sans-serif;
    margin-bottom: 5%;
    color: var(--text1);;
  
  }
  
  
  .actuContainer {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }
  
    
  .indexActualite .item {
  
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  
  }
  
  
  .indexActualite .item:after {
  
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  
  }
  
  
  .indexActualite .item-desc {
  
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 100;
    overflow: hidden;
    
  }